$var1: #999999;
$var2: #474A59;
$var3: #F1F1F2;
$var4: #c2c2c5;
$var5: #f2f2f2;
$var6: #707075;
$var7: #d0d0d2;

.popup {
    position: absolute;
    margin-top: 15%;
}
body {
    background: white;
    font-family: 'Inter UI', sans-serif;
    margin: 0;
}
.container {
    display: flex;
    height: 320px;
    margin: 0 auto;
    width: 640px;
}
$small: 767px;

.left {
        @media (max-width: $small) {
        flex-direction: column;
        height: 630px;
        width: 320px;
    }
}
.left {
    background: white;
    height: calc(100% - 40px);
    top: 20px;
    position: relative;
    width: 50%;
}
.left {
    @media (max-width: $small) {
        height: 100%;
        left: 20px;
        width: calc(100% - 40px);
        max-height: 270px;
    }
}
.login {
    font-size: 50px;
    font-weight: 900;
    margin: 50px 40px 40px;
}
.eula {
    color: $var1;
    font-size: 14px;
    line-height: 1.5;
    margin: 40px;
}
.right {
    background: $var2;
    box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
    color: $var3;
    position: relative;
    width: 50%;
}
.left {
    @media (max-width: $small) {
        flex-shrink: 0;
        height: 100%;
        width: 100%;
        max-height: 350px;
    }
}
svg {
    position: absolute;
    width: 320px;
}
path {
    fill: none;
    stroke: url(#linearGradient);
    stroke-width: 4;
    stroke-dasharray: 240 1386;
}
.form {
    margin: 40px;
    position: absolute;
}
label {
    color: $var4;
    display: block;
    font-size: 14px;
    height: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
}
input {
    background: transparent;
    border: 0.1px solid white;
    border-radius: 5px;
    color: $var5;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    outline: none ;
    width: 100%;
    &::-moz-focus-inner {
        border: 0;
    }
}
#submit {
    color: $var6;
    margin-top: 40px;
    transition: color 300ms;
    &:focus {
        color: $var5;
    }
    &:active {
        color: $var7;
    }
}
